@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: black;
color: white;

}

.custom-input {
    /* Otros estilos */
    /* Cambiar el fondo del input a negro */
    background-color: rgb(253, 253, 253);
    /* Definir el color del texto para que sea visible en el fondo negro */
    color: rgb(0, 0, 0); /* Puedes ajustar el color del texto a tu preferencia */
  }