@tailwind base;
@tailwind components;
@tailwind utilities;

body{
background-color: black;
color: white;

}

.custom-input {
    /* Otros estilos */
    /* Cambiar el fondo del input a negro */
    background-color: black;
    /* Definir el color del texto para que sea visible en el fondo negro */
    color: white; /* Puedes ajustar el color del texto a tu preferencia */
  }